<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.rabbitmq.mapper.WbOlpCheckResultMapper">

    <resultMap id="WbComparisonResultResult" type="WbOlpCheckResult">
        <result column="sim_id" property="simId"/>
        <result column="dt" property="dt"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
    </resultMap>

    <insert id="add" parameterType="WbOlpCheckResult">
        insert into qtech_eq_dwd.eq_control_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="simId != null">sim_id,</if>
            <if test="dt != null">dt,</if>
            <if test="code != null">code,</if>
            <if test="description != null">description,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="simId != null">#{simId},</if>
            <if test="dt != null">#{dt},</if>
            <if test="code != null">#{code},</if>
            <if test="description != null">#{description},</if>
        </trim>
    </insert>
</mapper>