<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.check.mapper.AaListParamsReverseCtrlInfoMapper">
    <resultMap id="AaListParamsCheckResult" type="AaListParamsCheckResult">
        <result column="sim_id" property="simId" jdbcType="VARCHAR"/>
        <result column="prod_type" property="prodType" jdbcType="VARCHAR"/>
        <result column="chk_dt" property="checkDt" jdbcType="TIMESTAMP"/>
        <result column="code" property="statusCode" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="insert">
        insert into qtech_im_chk.equipment_reverse_control_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="simId != null and simId != ''">sim_id,</if>
            source,
            <if test="prodType != null and prodType != ''">prod_type,</if>
            <if test="checkDt != null">chk_dt,</if>
            <if test="statusCode != null">code,</if>
            <if test="description != null and description != ''">description,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="simId != null and simId != ''">#{simId},</if>
            'aa-params',
            <if test="prodType != null and prodType != ''">#{prodType},</if>
            <if test="checkDt != null">#{checkDt},</if>
            <if test="statusCode != null">#{statusCode},</if>
            <if test="description != null and description != ''">#{description},</if>
        </trim>
    </insert>
</mapper>