<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.reverse.mapper.EquipmentReverseControlInfoMapper">
    <resultMap id="BaseResultMap" type="EquipmentReverseControlInfo">
        <result column="sim_id" jdbcType="VARCHAR" property="simId"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="prod_type" jdbcType="VARCHAR" property="prodType"/>
        <result column="chk_dt" jdbcType="VARCHAR" property="chkDt"/>
        <result column="code" jdbcType="INTEGER" property="code"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
    </resultMap>

    <sql id="QtechImChkResultSql">
        select sim_id, source, prod_type, chk_dt, code, description, label from equipment_reverse_control_info
    </sql>

    <select id="selectQtechImChkResultList" resultMap="BaseResultMap">
        <include refid="QtechImChkResultSql"/>
        <where>
            <if test="simId != null and simId != ''">
                sim_id = ${simId}
            </if>
        </where>
    </select>


</mapper>