<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.mq.mapper.EqReverseCtrlInfoMapper">
    <resultMap id="eqReverseCtrlInfoResult" type="EqReverseCtrlInfo">
        <id property="id" column="id"/>
        <result property="simId" column="sim_id"/>
        <result property="source" column="source"/>
        <result property="prodType" column="prod_type"/>
        <result property="chkDt" column="chk_dt"/>
        <result property="code" column="code"/>
        <result property="description" column="description"/>
        <result property="version" column="version"/>
    </resultMap>

    <sql id="select_eq_reverse_ctrl_info">
        SELECT SIM_ID, "SOURCE", PROD_TYPE, CHK_DT, CODE, DESCRIPTION, VERSION
        FROM IMBIZ.EQUIPMENT_REVERSE_CONTROL_INFO
    </sql>

    <!-- 定义列名列表，用于在批量插入中复用 -->
    <sql id="columnList">
        SIM_ID, "SOURCE", PROD_TYPE, CHK_DT, CODE, DESCRIPTION, VERSION
    </sql>

    <insert id="upsertDoris">
        INSERT INTO qtech_eq_ads.im_eq_reverse_control_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="simId != null">SIM_ID,</if>
            <if test="source != null">SOURCE,</if>
            <if test="prodType != null">PROD_TYPE,</if>
            <if test="chkDt != null">CHK_DT,</if>
            <if test="code != null">CODE,</if>
            <if test="description != null">DESCRIPTION,</if>
        </trim>
            <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
                <if test="simId != null">#{simId},</if>
                <if test="source != null">#{source},</if>
                <if test="prodType != null">#{prodType},</if>
                <if test="chkDt != null">#{chkDt},</if>
                <if test="code != null">#{code},</if>
                <if test="description != null">#{description},</if>
            </trim>
    </insert>

    <insert id="upsertOracle" parameterType="EqReverseCtrlInfo">
        MERGE INTO IMBIZ.EQUIPMENT_REVERSE_CONTROL_INFO tgt
            USING (SELECT #{simId, jdbcType=VARCHAR}                                   AS SIM_ID,
                          #{source, jdbcType=VARCHAR}                                  AS SOURCE,
                          #{prodType, jdbcType=VARCHAR}                                AS PROD_TYPE,
                          TO_DATE(#{chkDt, jdbcType=VARCHAR}, 'yyyy-MM-dd hh24:mi:ss') AS CHK_DT,
                          #{code, jdbcType=INTEGER}                                    AS CODE,
                          #{description, jdbcType=VARCHAR}                             AS DESCRIPTION,
                          #{version, jdbcType=INTEGER}                                 AS VERSION
                   FROM DUAL) src
            ON (
                        tgt.SIM_ID = src.SIM_ID AND
                        tgt.SOURCE = src.SOURCE
                )
            WHEN MATCHED THEN
                UPDATE SET
                    tgt.PROD_TYPE = src.PROD_TYPE,
                    tgt.CHK_DT = src.CHK_DT,
                    tgt.CODE = src.CODE,
                    tgt.DESCRIPTION = src.DESCRIPTION,
                    tgt.VERSION = tgt.VERSION + 1
            WHEN NOT MATCHED THEN
                INSERT (
                        SIM_ID,
                        SOURCE,
                        PROD_TYPE,
                        CHK_DT,
                        CODE,
                        DESCRIPTION,
                        VERSION
                    )
                    VALUES (src.SIM_ID,
                            src.SOURCE,
                            src.PROD_TYPE,
                            src.CHK_DT,
                            src.CODE,
                            src.DESCRIPTION,
                            src.VERSION)
    </insert>

    <insert id="addAaListDoris" parameterType="EqReverseCtrlInfo">
        INSERT INTO qtech_eq_dwd.im_aa_list_chk_result_detail
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="simId != null">SIM_ID,</if>
            <if test="prodType != null">PROD_TYPE,</if>
            <if test="chkDt != null">CHK_DT,</if>
            <if test="code != null">CODE,</if>
            <if test="description != null">DESCRIPTION</if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="simId != null">#{simId},</if>
            <if test="prodType != null">#{prodType},</if>
            <if test="chkDt != null">#{chkDt},</if>
            <if test="code != null">#{code},</if>
            <if test="description != null">#{description}</if>
        </trim>
    </insert>

    <insert id="addWbOlpChkDoris">
        INSERT INTO qtech_eq_dwd.im_wb_olp_chk_result_detail
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="simId != null">SIM_ID,</if>
            <if test="prodType != null">MC_ID,</if>
            <if test="chkDt != null">DT,</if>
            <if test="code != null">CODE,</if>
            <if test="description != null">DESCRIPTION</if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="simId != null">#{simId},</if>
            <if test="prodType != null">#{prodType},</if>
            <if test="chkDt != null">#{chkDt},</if>
            <if test="code != null">#{code},</if>
            <if test="description != null">#{description}</if>
        </trim>
    </insert>

</mapper>