<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.mq.mapper.WbOlpRawDataMapper">
    <resultMap id="BaseResultMap" type="WbOlpRawData">
        <result property="dt" column="dt"/>
        <result property="simId" column="sim_id"/>
        <result property="mcId" column="mc_id"/>
        <result property="lineNo" column="line_no"/>
        <result property="leadX" column="lead_x"/>
        <result property="leadY" column="lead_y"/>
        <result property="padX" column="pad_x"/>
        <result property="padY" column="pad_y"/>
        <result property="checkPort" column="check_port"/>
        <result property="piecesIndex" column="pieces_index"/>
        <result property="loadTime" column="load_time"/>
    </resultMap>

    <insert id="addWbOLpRawDataBatch">
        insert into qtech_eq_dwd.dwd_wb_coordinate_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wbOlpRawDataList != null and wbOlpRawDataList.size() > 0">
                dt, sim_id, mc_id, line_no, lead_x, lead_y, pad_x, pad_y, check_port, pieces_index, load_time
            </if>
        </trim>
        <trim prefix="values" suffixOverrides=",">
            <if test="wbOlpRawDataList != null and wbOlpRawDataList.size() > 0">
                <foreach collection="wbOlpRawDataList" item="item" separator=",">
                    <trim prefix="(" suffix=")" suffixOverrides=",">
                        #{item.dt}, #{item.simId}, #{item.mcId}, #{item.lineNo}, #{item.leadX}, #{item.leadY},
                        #{item.padX}, #{item.padY}, #{item.checkPort}, #{item.piecesIndex}, NOW()  <!-- 使用 NOW() 获取当前时间 -->
                    </trim>
                </foreach>
            </if>
        </trim>
    </insert>


</mapper>