<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtech.comparison.mapper.WbComparisonMapper">
    <resultMap id="comparisonResult" type="ComparisonResult">
        <result property="simId" column="sim_id"/>
        <result property="programName" column="program_name"/>
        <result property="dt" column="dt"/>
        <result property="code" column="code"/>
        <result property="description" column="description"/>
    </resultMap>

    <sql id="comparisonResultSql">
        select sim_id, program_name, dt, code, description from public.qtech_eq_control_info
    </sql>
    <select id="getComparisonResult" resultMap="comparisonResult">
        <include refid="comparisonResultSql"></include>
         <where>
             program_name='wb_comparison' and sim_id = #{simId}
         </where>
    </select>
</mapper>
